* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

a {
  text-decoration: none;
}

body {
  font-weight: 500;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
