@import url(/20231005/css/reset.css);

body {
  height: 500vh;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #dedede;
}

.progress-bar {
  width: 50%;
  height: 100%;
  background-color: red;
}
