* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
